
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  /* header  */
  header{
    top:0px;
    background-color: transparent;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 120px;
    display: grid;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}
header .header_content{
    display: flex;
    justify-content: space-around;
    align-items: center !important;
    /* padding: 50px 0; */
}
header .header_logo a{
    color: #FB811E;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    transition: all 0.5s;
}
header .header_logo a:hover{
    color: black;    
}
header .header_logo a i{
    position: absolute;
    top: -10px;
    left: 55px;
    font-size: 20px;
}
header .header_content .header_nav ul{
    list-style: none;
}
header .header_content .header_nav ul li{
    display: inline;
    margin-right: 50px;
}
header .header_content .navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #060606;
    transition: all 0.5s;
    font-weight: 500;
}
header .header_content .navbar ul li a:hover{
    text-decoration: underline;
    color: #FB811E;
}
header.inverted{
    background-color: #fff;
    box-shadow: 0 3px 5px 0.3px rgba(0, 0, 0, 0.1);
}

/* header .header_content .navbar .search{
    margin: 0 10px 0 10px;
} */
   
.search_and_theme input[type=search]
{
    background: white url(/img/searchicon.png) no-repeat 10px center;
    border: solid 1px gray;
    padding:20px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    transition: all 1s;
    cursor: pointer;
    border-radius: 35px;
    text-align: center;
}
.search_and_theme{
    display: flex;
    justify-content: space-between;
}
.search_and_theme input[type=search]:focus{
    width: 200px;
}
#switchButton {
  background-color: transparent;
  border: none;
}
#switchButton .fa-sun {
  display: none;
  color: #FB811E;
  font-size: 25px;
}
#switchButton .fa-moon {
  display: block;
  color: #FB811E;
  font-size: 25px;
}
.dark#myBody {
  background-color: #353439;
  color: white !important;
}
.dark #switchButton {
  background-color: transparent;
}
.dark #switchButton .fa-sun {
  display: block;
}
.dark #switchButton .fa-moon {
  display: none;
}


.banner_content{
    margin: 15%;
    margin-bottom:10%;
    margin-left:11%;
}
.infor{
    margin-left:11%
}
.infor .btn{
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 12px 30px;
    font-weight: 600;
    background: #fb811e;
    border: none;
    color: #fff;
    border-radius: 30px;
    transition: all .25s ease-in-out;
}
.infor .btn:hover{
    background-color: green;
    color: #fff;
}
/* number */
.number{
  padding:60px 0;
}

.number .number_content{
  display: flex;
  justify-content:space-around;
  text-align: center;
}

.number_content .number_item h3{
  font-size: 50px;
}
.number_content .number_item p{
  color:gray;
}
.number_content .number_item i{
    color: green;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    background: rgb(0 159 77 / 4%);
    font-size: 32px;
}

/* service */
.cyber_avai {
  background-color: #009F4D;
  position: relative;
}

.cyber_avai .cyber_title p{
  padding-left: 11%;
}

.cyber_avai .avai_item {
  background: white;
  cursor: pointer;
  border-radius: 2%;
}

.cyber_avai .avai_item img{
  border-radius: 2%;
}

/* carousel */

.carousel .carousel_img {
  background-image: linear-gradient(2000deg, rgba(0, 0, 0, 0.856), transparent) ,url(../img/bg1.jpg);
    height: 60vh;
  
}
.carousel .carousel_img
.slick-dots li button:before{
  font-size: 12px;
  color: orange;
}
.footer1{
  flex:1
}
.footer1 p{
  color: gray;
}
.footer1 form input{
  background-color: #f4f4f4;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 80%;
    color: gray;
    border: 1px solid  white;
    border-radius: 30px 0px 0px 30px;
}
.footer1 form button{
  border-radius: 0px 30px 30px 0px;
  color: white;
  background-color: #009f4d;
  font-size: 16px;
  padding: 12px 12px;
  width: 20%;
  border: none;
  outline: none;
}
.footer_center a{
  position: relative;
}
.footer_center a i{
  position: absolute;
  top: -10px;
  left: 55px;
  font-size: 20px;
}
.footer_icon{
  color: #009f4d;
  padding-top: 24px;
}
.footer_icon i{
  padding: 10px;
  width: 35px;
  height: 35px;
  background: rgb(10 191 83 / 8%);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  transition: all 0.5s;
}
.footer_icon i:hover{
  color: #fb811e;
  background: rgb(255 201 69 / 19%);
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}
@media screen and (max-width: 768px) {
  .avai_item{
    margin: 20px;
  }
  .cyber_title{
    flex: none !important;
  }
  

  .footer1{

  }
}

@media screen and (max-width: 992px) {
  .project_title p {
    background-color: brown;
  }
}